td {
  width: 34px;
  padding:0px;
}

.function{
    width:42px;
}

#screen{
  font-family:arial;
  background-color:rgb(160,160,160);
}

#shortcuts{
    width: 100%;
}

#shortcuts td{
        text-align:left;
        font-size:5px;

}

#shortcuts th{
    font-size:7px;
}

#shortcuts td:nth-child(even){
    font-weight:bold;
}

#shortcuts td:nth-child(odd){
    font-size:6px;
}


.button {
  background-color: #1A1A1A;
  border-radius: 2px;
  position: relative;
    text-align:center;

}

.leftshift{
  background-color:#C02F1D !important;
  color:#1A1A1A !important;
  font-size: 12px !important;
}

.rightshift{
  background-color:#d5d5d5 !important;
  color:#1A1A1A !important;
  font-size: 12px !important;
}


.button .main {
  font-size: 9px;
  font-family: arial;
  height: 26.5px;
  
  color: #fff;
  display: table-cell;
  vertical-align: middle;

  width: 10%;
  margin: 0 auto;
}

.button .sub {
  font-size:5.5px;
  font-family: arial;
  padding: 1px;
}

.button .left {
  color: #CCC;
  position: absolute;
  left: 0;
  margin-left:0.5px;
}

.button .right {
  color: rgb(230,80,51);
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right:0.5px;
}

.button .alpha {
  color: #EBC944;
  position: absolute;
  right: 0;
  margin-right:0.5px;
}