:root {
  --button-main-background: #111111;
  --button-right-shift:  rgb(220,70,40);
  --button-left-shift: #BBBBBB;
  --button-alpha: #FEDE06;
  --calculator-background: #F7F7F7;
}


td {
  width: 34px;
  padding:0px;
}



.function{
    width:42px;
}

#screen{
  font-family:arial;
  background-color:var(--calculator-background);
}

#shortcuts{
    width: 100%;
}

#shortcuts td{
        text-align:left;
        font-size:5px;

}

#shortcuts th{
    font-size:7px;
}

#shortcuts td:nth-child(even){
    font-weight:bold;
}

#shortcuts td:nth-child(odd){
    font-size:6px;
}


.button {
  background-color: var(--button-main-background);
  border-radius: 1px;
  position: relative;
    text-align:center;

}

.alphashift{
  background-color:var(--button-alpha) !important;
}

.alphashift .main{
    color:var(--button-main-background) !important;
}

.alphashift .left{
    color:var(--button-left-shift) !important;
}

.leftshift{
  background-color:var(--button-right-shift) !important;
  color:var(--button-main-background) !important;
  font-size: 12px !important;
}

.rightshift{
  background-color:var(--button-left-shift) !important;
  color:var(--button-main-background) !important;
  font-size: 12px !important;
}


.button .main {
  font-size: 9px;
  font-family: arial;
  height: 26.5px;
  
  color: #fff;
  display: table-cell;
  vertical-align: middle;

  width: 10%;
  margin: 0 auto;
}

.button .sub {
  font-size:5.5px;
  font-family: arial;
  padding: 1px;
}

.button .left {
  color: var(--button-left-shift);
  position: absolute;
  left: 0;
  margin-left:0.5px;
}

.button .right {
  color: var(--button-right-shift);
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right:0.5px;
}

.button .alpha {
  color: var(--button-alpha);
  position: absolute;
  right: 0;
  margin-right:0.5px;
}